body{
    background-color: bisque;
}


#wrapper{
    background-color: rgb(231, 216, 216);
    width: 80%;
    margin:50px auto;
    border-radius: 10px;
    box-shadow: grey;
    padding:10px;
    /* border:1px solid red; */
}
/* h4{
    margin:10px auto;
} */
#head{
    display:flex;
    justify-content: center;
}

#input{
    width: 80%;
    margin:10px 10px;
    font-size:24px;
    padding:10px 10px;
}

#btn{
    width:80px;
}
.all-tasks{
    margin:25px 0;
    padding:0;
    list-style-type: none;
    font-size: 24px;
}
.all-tasks li{
    position: relative;
}

.all-tasks li.toggle{
    text-decoration: line-through;
}

.all-tasks li input{
    margin-right: 20px;
}

.all-tasks li i{
    position: absolute;
    right:80px;
}
.btns{
    background-color: aqua;
    padding:10px;
    font-size: 24px;
}


#notification{
    position: absolute;
    left:20%;
    font-size: 1rem;
    color:red;
    font-weight: bold;
    margin:0;

}
